body{
    text-align:center;
}

th {
    border: 1px solid black;
}

#container{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

li {
    list-style:none;
}

.top4{
    color:red;
}