body{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:50%;
}

td{
    border:1px solid black;
    padding-left:10px;
    padding-right:10px;
}

.hidden{
    display:none;
}

/* Test for "BW Prognosen" */
.green{
    color:#00ff00;
}